@media screen and (min-width: 650px) {
  main {
    margin: 0 5rem 0 5rem;
  }
}
* {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  margin: 0;
}

header {
  background-image: url(/images/bg-main-mobile.png);
  background-size: cover;
  max-height: 15rem;
  color: hsl(0deg, 0%, 100%);
}
header .card-container-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .card-container-back .card-back {
  min-height: 8rem;
  min-width: 15rem;
  background-image: url(/images/bg-card-back.png);
  border-radius: 0.75rem;
  background-size: cover;
}
header .card-container-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 4rem;
}
header .card-container-front .card-front {
  display: grid;
  max-height: 6.5rem;
  min-width: 15rem;
  grid-template-rows: repeat(4, 0.5fr);
  background-image: url(/images/bg-card-front.png);
  padding: 25px;
  border-radius: 0.75rem;
  margin-left: 0.5rem;
}
header .card-container-front .card-front svg {
  margin-bottom: 1rem;
}
header .card-container-front .card-front #card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
  margin-top: 0.75rem;
  font-weight: 400;
}
header .card-container-front .card-front #card-number {
  letter-spacing: 1.8px;
  font-size: 1.13rem;
}
header .card-container-back .card-back {
  background-image: url(/images/bg-card-back.png);
}

#card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.8rem;
  padding-top: 6rem;
  margin: 0 1.5rem 6rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#card-info h3 {
  letter-spacing: 0.15rem;
  color: hsl(278deg, 68%, 11%);
  margin: 0.75rem 0 0.15rem 0;
}
#card-info input {
  border-radius: 0.2rem;
  font-size: 1.2rem;
  padding: 0.75rem;
  margin: 0.75rem 0.75rem 0.75rem 0;
  font-weight: 400;
  border: solid rgba(0, 0, 0, 0.178) 0.25px;
  width: 95%;
}
#card-info #cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#card-info #cvc .date {
  width: 35%;
  height: 30%;
}
#card-info #cvc #cvcInput {
  width: 75%;
  height: 30%;
}
#card-info #confirmBtn {
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(278deg, 68%, 11%);
  border-radius: 10px;
  cursor: pointer;
  width: 95%;
}
#card-info #confirmBtn:hover {
  color: hsl(279deg, 6%, 55%);
  background-color: hsl(278deg, 71%, 7%);
}

.dNone {
  display: none;
}