


$white: hsl(0, 0%, 100%);

$bgMobile: url(/images/bg-main-mobile.png);

$bgDesktop: url(/images/bg-main-desktop.png);

$cardBack: url(/images/bg-card-back.png);

$cardFront: url(/images/bg-card-front.png);