
@import "_var";
@import "_media";
@import "_activeStates";


* {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 500;
	margin: 0;
}



header {
	background-image: $bgMobile;
	background-size: cover;
	max-height: 15rem;
	color: $white;
	.card-container-back {
		display: flex;
		.card-back {
			max-height: 6.5rem;
			min-width: 15rem;
			background-image: $cardBack;
		};
	}
	.card-container-front {
		display: flex;
		justify-content: center;
		margin: 7rem 5rem 3rem 1rem;
		.card-front {
			display: grid;
			max-height: 6.5rem;
			min-width: 15rem;
			grid-template-rows: repeat(4, 0.5fr);
			background-image: $cardFront;
			padding: 25px;
			border-radius: 0.75rem;
			margin-left: 0.5rem;
			svg {
				margin-bottom: 1rem;
			}
			#card-name {
				display: flex;
				justify-content: space-between;
				font-size: 0.75rem;
				margin-top: 0.75rem;
				font-weight: 400;
			}
			#card-number {
				letter-spacing: 1.8px;
				font-size: 1.13rem;
			}
		}
	}
	.card-container-back {
		.card-back {
			background-image: $cardBack;
		}
	}
}






// start FORM
#card-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 0.8rem;
	padding-top: 6rem;
	margin: 0 1.5rem 6rem 1.5rem;
	align-items: center;
	h3 {
		letter-spacing: 0.15rem;
		color: $darkViolet;
		margin: 0.75rem 0 0.15rem 0;
	}
	input {
		border-radius: 0.2rem;
		font-size: 1.2rem;
		padding: 0.75rem;
		margin: 0.75rem 0.75rem 0.75rem 0;
		font-weight: 400;
		border: solid rgba(0, 0, 0, 0.178) .25px;
		width: 95%;
	}
	#cvc {
		display: flex;
		justify-content: space-evenly;
		.date {
			width: 35%;
			height: 30%;
		}
		#cvcInput {
			width: 75%;
			height: 30%;
		}
	}
	#confirmBtn {
		padding: 1rem;
		margin-top: 2rem;
		font-size: 1.2rem;
		color: $white;
		background-color: $darkViolet;
		border-radius: 10px;
		cursor: pointer;
		width: 95%;
		&:hover {
			color: $grayViolet;
			background-color: $veryDark;
			
		}
	}
}

.dNone {
	display: none;
}


